<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :frequency %><br>
    <%= f.select :frequency, options_for_select([["Daily", "daily"], ["Weekly", "weekly"], ["Monthly", "monthly"],["Custom","custom"]]),:id=>"frequency" %>
  </div>
  <div class="day-checkbox" style='display:none;'>
    <input type='radio' name="custom_frequency" value="2">Twice a week<br>
    <input type='radio' name="custom_frequency" value="3">Three times a week<br>
    <input type='radio' name="custom_frequency" value="4">Four times a week<br>
    <input type='radio' name="custom_frequency" value="5">Five times a week<br>
    <input type='radio' name="custom_frequency" value="6">Six times a week<br>
  </div>
  <div class="field">
    <%= f.label :wager %><br>
    <%= f.number_field :wager %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
