<p id="notice"><%= notice %></p>
<p>
  <strong>Group:</strong>
  <%= @group.name %>
</p>


<div class='activity'>
<p>
  <% if current_user.group == @group %>
    <button class="record_activity" id="record_activity <%= @challenge.id %>">Record Activity</button>
  <% end %>
</p>
</div>

<p>
  <strong>Name:</strong>
  <%= @challenge.name %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @challenge.frequency %>
</p>

<p>
  <strong>Wager:</strong>
  <%= @challenge.wager %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @challenge.duration %>
</p>

<p>
  <strong>progress output:</strong><br>
  <% for i in (0..((Time.zone.now - @challenge.created_at)/60/60/24).to_i)%>
    <%= (@challenge.created_at + i.day).httpdate.to_s[0..-14] %>:
      <% if @progress[i] %>
        challenge completed!
      <% elsif (@challenge.created_at + i.day) < Time.zone.now %>
        challenge failed!
      <% else %>
        challenge pending
      <% end %>
    <br>
  <% end %>
</p>

<% if current_user == @group.admin%>
  <%= link_to 'Edit', edit_challenge_path %> |
<% end %>
<%= link_to 'Back', groups_path %>
