<p id="notice"><%= notice %></p>
<p>
  <strong>Group:</strong>
  <%= @group.name %>
</p>

<p>
  <% if current_user.group == @group %>
    <%= link_to 'record activity', new_activity_path(@challenge, @group) %>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @challenge.name %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @challenge.frequency %>
</p>

<p>
  <strong>Wager:</strong>
  <%= @challenge.wager %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @challenge.duration %>
</p>

<% if current_user == @group.admin%>
  <%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<% end %>
<%= link_to 'Back', challenges_path %>
