<p id="notice"><%= notice %></p>
<p>
  <strong>Group:</strong>
  <%= @group.name %>
</p>

<div class='activity'>
<p>
  <% if current_user.group == @group %>
    <button class="record_activity" id="record_activity_<%= @challenge.id %>">Done?</button>
    <button class="done" id='done_<%= @challenge.id %>' style="display:none;background-color:green;">Done!</button>
  <% end %>
</p>
</div>

<p>
  <strong>Task:</strong>
  <%= @challenge.name %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @challenge.frequency %>
</p>

<p>
  <strong>Wager:</strong>
  $<%= @challenge.wager %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @challenge.duration %> days
</p>

<% if current_user == @group.admin%>
  <%= link_to 'Edit', edit_challenge_path %> |
<% end %>
<%= link_to 'Back', groups_path %>