<% provide(:title, "All Groups") %>

<div class="large-12 columns">
<table class="groups-table">
  <thead>
    <tr>
      <th>Group Name</th>
      <th colspan="3">Details</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <% if group.isPublic == true %>
      <tr>
        <td><%= group.name %></td>
        <td><%= link_to 'Show', group %></td>
        <% if current_user == group.admin %>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>
<% if Group.find_by(admin_id:current_user.id) == nil %>
<%= link_to 'New Group', new_group_path %>
<% end %>
</div>

  