<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Public:</strong>
  <%= @group.isPublic %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @group.admin.username %>
</p>
<% @group.challenges.each do |challenge| %>
  <%= link_to challenge.name, challenge_path(challenge) %><br>
<% end %>
<br>
<% if current_user == @group.admin %>
<%= link_to 'Create Challenge',  new_group_challenge_path(@group) %> |
<%= link_to 'Edit', edit_group_path(@group) %> |
<% end %>
<%= link_to 'Back', groups_path %>
