<!DOCTYPE html>
<html>
<head>
  <title>Workout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Challengr", root_path %></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
      <%if user_signed_in?%>
        <li class='active'><a href='/users/<%= current_user.id %>'><%= current_user.username %></a></li>
        <li class='active'><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      <% end %>
      </ul>
    </section>
  </nav>

  <div class="row header">
    <div class="large-12 columns">
      <h1><%= yield(:title) %></h1>
    </div>
  </div>

  <div class="icon-bar vertical five-up left">
    <a class="item item1">
      <i class="fi-home"></i>
    </a>
    <a class="item item2">
      <i class="fi-plus"></i>
    </a>
    <a class="item item3">
      <i class="fi-torsos-all"></i>
    </a>
    <a class="item item4">
      <i class="fi-comment"></i>
    </a>
    <a class="item item5">
      <i class="fi-like"></i>
    </a>
  </div>

  <div class='main-container'>
    <div class="row main-container"> 
      <%= yield %>
    </div>
  </div>
</body>
</html>
