<!DOCTYPE html>
<html>
<head>
  <title>Workout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "My Site", root_path %></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
      <%if user_signed_in?%>
        <li class='active'><a href='/users/<%= current_user.id %>'><%= current_user.username %></a></li>
        <li class='active'><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      <% end %>
      </ul>
    </section>
  </nav>
  <div ng-app="WorkoutApp">
    <div ng-controller='WorkoutController'>

      <%= yield %>
    </div>
  </div>
  <script type="text/javascript">
  var rumbleBannerBackgroundColor, rumbleBannerTextColor, rumbleBannerLinkColor, rumbleBannerPlacement;
  rumbleBannerBackgroundColor = "#161616";
  rumbleBannerTextColor = "#b0b0b0";
  rumbleBannerLinkColor = "#ffffff";
  rumbleBannerPlacement = "bottom"; // Optionally replace with "bottom".
</script>
<script src="https://d4nnn7wspfa3h.cloudfront.net/banner-2014.js" type="text/javascript"></script>
</body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
